<div class="container" *ngIf="salle">

<div class="image" *ngIf="salle.image">
   <img src="{{ url+'get-image/'+salle.image}}"/>
  </div>
<div class="data" >
<h1 >{{ salle.name }}</h1>
<p>{{ salle.description }}</p>
<p>{{ salle.capacite }}</p>
<p>{{ salle.type_evenement}}</p>
<p>{{ salle.ville }}</p><hr/>
<a href="https://www.google.fr/maps/@44.0467456,4.7808512,14z" class="button-geo">Geolocalisation</a>

<!--<p *ngIf="confirm == false">
  <a [routerLink]="['/edit-project', project._id]" class="button-edit">Edit</a>
  <a (click)="setConfirm(true)" class="button-delete">Delete</a>
</p>

<p *ngIf="confirm == true">
  <span class="confirm">Are you sure?</span><br/>
    <a (click)="setConfirm(false)" class="button-edit">Cancel</a>
    <a (click)="deleteProject(project._id)" class="button-delete">Definitively eliminate</a>
  </p>-->
  <a (click)="redirigerReservation()" class="button-edit">Reserver</a>

</div>
</div>