<div class="container" *ngIf="salle">

<div class="image" *ngIf="salle.image">
   <img [src]="salle.image"/>
  </div>
<div class="data" >
<h1 >{{ salle.name }}</h1>
<p>{{ salle.description }}</p><br>
<p>Capacité :{{ salle.capacite }} personnes.</p>
<p>Type d'évenement : {{ salle.typeEvenement}}</p>
<p>Adresse postale : {{ salle.voie }}, {{ salle.ville }}, {{ salle.codePostale }}.</p><hr/>

<a href="https://www.google.com/maps/search/?api=1&query={{salle.geocalisationX}},{{salle.geocalisationY}}" target="_blank" class="button-geo">Geolocalisation</a>

<!--<p *ngIf="confirm == false">
  <a [routerLink]="['/edit-project', project._id]" class="button-edit">Edit</a>
  <a (click)="setConfirm(true)" class="button-delete">Delete</a>
</p>

<p *ngIf="confirm == true">
  <span class="confirm">Are you sure?</span><br/>
    <a (click)="setConfirm(false)" class="button-edit">Cancel</a>
    <a (click)="deleteProject(project._id)" class="button-delete">Definitively eliminate</a>
  </p>-->
  <a (click)="redirigerReservation(salle.id)" class="button-edit">Reserver</a>

</div>
</div>